.App {
  display: flex;
  justify-content: center;
  padding: 20%;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.header {
  font-size: larger;
  font-weight: bold;
  color: #4d4d4d;
}
