.App {
  display: flex;
  justify-content: center;
  padding: 20%;
  padding-top: 5%;
  flex-direction: column;
  gap: 20px;
}

.header {
  text-align: center;
  font-size: larger;
  font-weight: bold;
  color: #4d4d4d;
}
