.App {
  display: flex;
  padding-right: 20%;
  padding-left: 20%;
  padding-top: 5%;
  flex-direction: column;
  gap: 20px;
  height: 1;
}

.header {
  text-align: center;
  font-size: larger;
  font-weight: bold;
  color: #4d4d4d;
}
